
.vs/GraphicProject/v15/Browse.VC.opendb
.vs/GraphicProject/v15/ipch/AutoPCH/40ed1f68ca9357cd/SOURCE.ipch
.vs/GraphicProject/v15/.suo
.vs/GraphicProject/v15/ipch/AutoPCH/81110764d665850c/ŹRÓDŁO.ipch
.vs/GraphicProject/v15/Solution.VC.db
.vs/GraphicProject/v15/.suo
